.modal {
  z-index: 51;
  @apply bg-dark max-h-screen w-screen h-screen pt-8;
  &:focus {
    @apply outline-none;
  }
  @screen sm {
    min-height: 600px;
    max-height: 600px;
    max-width: 600px;
    @apply rounded-xl pt-0;
  }
}
.overlay {
  @apply bg-white bg-opacity-15 fixed top-0 left-0 right-0 bottom-0 z-50;
}
